[submodule "release/scripts/addons"]
	path = chapter_8/release/scripts/addons
	url = ../blender-addons.git
	branch = master
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = chapter_8/release/scripts/addons_contrib
	url = ../blender-addons-contrib.git
	branch = master
	ignore = all
[submodule "release/datafiles/locale"]
	path = chapter_8/release/datafiles/locale
	url = ../blender-translations.git
	branch = master
	ignore = all
[submodule "source/tools"]
	path = chapter_8/source/tools
	url = ../blender-dev-tools.git
	branch = master
	ignore = all
